* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/*Universal Styles*/
html {
    font-family: "Space Mono", mono space;
    font-size: 18px;
    color: white;
    position: relative;
    background-color: rgba(8, 16, 42, 0.973);
}

/*Header*/
header {
    width: 100%;
    height: 200px;
    padding: 0;
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

header h1 {
    padding: 1.5rem 1rem 0.5rem 1rem;
    letter-spacing: 20px;
    text-transform: uppercase;
}

header h3 {
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
}

em {
    font-size: 1.5rem;
}

/*Main Section*/

    /*content section*/
.container {
    display: flex;
    margin: 0%;
    width: 100%;
}

.html {
    flex: 1;
    margin: 5% 5% 5% 5%;
    text-align: center;
    background-image: url("../images/background4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1rem;
    border-radius: 1%;
}

.css {
    flex: 1;
    margin: 5% 5% 5% 5%;
    text-align: center;
    background-image: url("../images/background4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1rem;
    border-radius: 1%;
    height: 100%;
}

.commandline {
    flex: 1;
    margin: 5% 5% 5% 5%;
    text-align: center;
    background-image: url("../images/background4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1rem;
    border-radius: 1%;
}

.container h2 {
    margin-bottom: 15%;
    margin-top: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
    height: auto;
    text-align: center;
}

.button {
    display: block;
    line-height: 1;
    margin: 10%;
    background-color: rgba(0, 0, 0, 0.568);
    padding: 5%;
    border-radius: 5%;
    color: white;
    font-family: "Space Mono", mono space;
    font-weight: bold;
    text-decoration: none;
}

.link {
    padding: 0 1rem 0 1rem;
    color: rgb(65, 211, 255);
    text-decoration: underline;
    font-size: 0.65rem;
}

.button:hover {
    background-color: black;
}

    /*Usefull Links section*/
.container_2 {
    display: flex;
    margin: 0%;
    width: 100%;
}

.container_2 h2 {
    margin-bottom: 5%;
    margin-top: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
    height: auto;
    text-align: center;
}

.usefull_links {
    flex: 1;
    justify-content: space-around;
    align-items: center;
    margin: 0 5% 5% 5%;
    padding-bottom: 5%;
    text-align: center;
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1rem;
    border-radius: 1%;
}

.link2 {
    padding: 0 1rem 10% 1rem;
    color: rgb(65, 211, 255);
    text-decoration: underline;
    font-size: 1.7rem;
}

/*footer*/
footer {
    width: 100%;
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    font-size: 0.8rem;
    height: 60px;
    line-height: 60px;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
}

footer a {
    color: rgb(65, 211, 255);
    text-decoration: none;
}

#selina,
#smax {
    font-weight: bold;
}

.selina {
    flex: 1;
    text-align: right;
}

.smax {
    flex: 1;
    text-align: left;
}